[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = /Users/jchuerva/.gitignore
[user]
	name = Carlos Alarcon
	email = jchuerva@github.com
[github]
	user = jchuerva
[push]
	default = simple
[credential]
	helper = osxkeychain
